:root {
    --primary--light-red: hsl(0, 100%, 67%);
    --primary--orangey-yellow: hsl(39, 100%, 56%);
    --primary--green-teal: hsl(166, 100%, 37%);
    --primary--cobalt-blue: hsl(234, 85%, 45%);
    --transparent--light-red: hsl(0, 62%, 96%);
    --transparent--orangey-yellow: hsl(38, 76%, 95%);
    --transparent--green-teal: hsl(167, 90%, 96%);
    --transparent--cobalt-blue: hsl(235, 79%, 94%);

    --bg--light-slate-blue: hsl(252, 100%, 67%);
    --bg--light-royal-blue: hsl(241, 81%, 54%);
    --circle--violet-blue: hsla(256, 72%, 46%, 1);
    --circle--persian-blue: hsla(241, 72%, 46%, 0);

    --bg--white: hsl(0, 0%, 100%);
    --bg--pale-blue: hsl(221, 100%, 96%);
    --bg--light-lavender: hsl(241, 100%, 89%);
    --bg--dark-gray-blue: hsl(224, 30%, 27%);
}

html {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    font-size: 1rem;
}

/* Font */
    /* Size */
    .fs-xxl {
        font-size: 2.5rem;
    }
    .fs-xl {
        font-size: 1.3rem;
    }
    .fs-lg {
        font-size: 1.1rem;
    }
    .fs-m {
        font-size: 1rem;
    }
    .fs-sm {
        font-size: 0.8rem;
    }

    /* color*/
    .clr-white {
        color: var(--bg--white);
    }
    .clr-light-lavender {
        color: var(--bg--light-lavender);
    }


main {
    background-color: var(--bg--white);
    min-height: 100vh;
    max-width: 380px;
    margin: 0 auto;
    box-shadow: 0px 20px 50px #eee;
}

/************ Mobile *************/

/* Result */

.result {
    background: linear-gradient(var(--bg--light-slate-blue), var(--bg--light-royal-blue));
    border-radius: 20px;
    padding: 2.5rem 3rem;
    text-align: center;
    transform: translateY(-1rem);
}

.result--title {
    margin-bottom: 1.2rem;
}

.score-circle {
    width: 7rem;
    height: 7rem;
    margin: 0 auto 1.2rem;
    padding: 0.5rem;
    background: linear-gradient(var(--circle--violet-blue), var(--circle--persian-blue));
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assessment--comment {
    margin-bottom: 0.5rem;
}

/* Summary */

.summary {
    padding: 0.5rem 2rem;
}

.summary--title {
    margin-bottom: 1.2rem;
    color: var(--bg--dark-gray-blue);
}

.summary--aspects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    margin-bottom: 1.5rem;
}

.summary--aspect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.aspect--name {
    display: flex;
}

.aspect--icon {
    margin-right: 0.5rem;
    display: block;
}

.continue {
    background-color: var(--bg--dark-gray-blue);
    color: var(--bg--white);
    padding: 0.8rem 1rem;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.continue:hover, .continue:focus {
    background: linear-gradient(var(--bg--light-slate-blue), var(--bg--light-royal-blue));
    cursor: pointer;
}

/************ Desktop Changes *************/

@media only screen and (min-width: 769px) {
    .fs-xxl {
        font-size: 3.5rem;
    }

    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    main {
        display: flex;
        margin: auto;
        min-height: 0;
        max-width: 650px;
        border-radius: 20px;
    }

    .result {
        transform: translateY(0);
        width: 50%;
        min-height: 100%;
    }

    .score-circle {
        width: 10rem;
        height: 10rem;
        margin: 0 auto 2rem;
    }

    .assessment--comment {
        margin-bottom: 1rem;
    }

    .summary {
        width: 50%;
        height: 100%;
        padding: 2.5rem 3rem;
    }

    .continue {
        margin-bottom: 0;
    }
}