:root {
    --primary--light-red: hsl(0, 100%, 67%);
    --primary--orangey-yellow: hsl(39, 100%, 56%);
    --primary--green-teal: hsl(166, 100%, 37%);
    --primary--cobalt-blue: hsl(234, 85%, 45%);


    --bg--light-slate-blue: hsl(252, 100%, 67%);
    --bg--light-royal-blue: hsl(241, 81%, 54%);
    --circle--violet-blue: hsla(256, 72%, 46%, 1);
    --circle--persian-blue: hsla(241, 72%, 46%, 0);

    --bg--white: hsl(0, 0%, 100%);
    --bg--pale-blue: hsl(221, 100%, 96%);
    --bg--light-lavender: hsl(241, 100%, 89%);
    --bg--dark-gray-blue: hsl(224, 30%, 27%);
}

html {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}